<table>
<tr>
	<td>
	Name Site Name
	</td>
<td>
<input value="<%= @cur_site_info.name %>">
</td>
</tr>
<tr>
	<td>
	Nick Name
	</td>
<td>
<input value="<%= @cur_site_info.nick_name %>">
</td>
</tr>
<tr>
	<td>
	Meta Data
	</td>
	<td>
	<input value="<%= @cur_site_info.meta_data %>">
	</td>
</tr>
<button type="submit" class="btn btn-large btn-primary">Update</button>
</table>

<h2>
Admins
</h2>
